@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-colour: #26303D;
$primary-colour--light: #4D627A;
$primary-colour--dark: #171E27;
$primary-colour--text: #A2B2CC;

$secondary-colour: #EC3F57;
$good-colour: #00FC37;
$bad-colour: $secondary-colour;
$text-colour: #D1D1D1;

$font: 'Roboto' sans-serif;
$font-size: 14px;